@import url(
    "https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
);

body {
    font-family:         "Geist", "JetBrains Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight:         300;
    font-style:          normal;
    margin:              0;
    padding:             10px;
}

h1 {
    text-align:    center;
    font-size:     1.5em;
    margin-bottom: 10px;
    margin-top:    40px;
    font-weight:   bold;
}

.hari-nav {
    display:         flex;
    justify-content: center;
    margin-bottom:   10px;
    flex-wrap:       wrap;

    & button {
        font-family: "Geist", "JetBrains Mono", sans-serif;
        padding:     10px;
        font-size:   1em;
        border:      none;
        height:      2lh;
        cursor:      pointer;
        margin:      5px;
        flex:        1 1 auto;
        transition:  all 100ms;
    }
}

.jadwal-container {
    padding: 10px;
    /* border-radius: 5px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.jadwal-item {
    padding: 10px;

    & h3 {
        margin:      0;
        font-size:   1.2em;
        font-weight: 500;
        transition:  all 200ms;
    }

    & p {
        margin:    5px 0 0;
        font-size: 0.9em;
    }
}

.no-jadwal {
    text-align: center;
    font-size:  1em;
    color:      #777;
}

.divider {
    margin: 0;
}

footer {
    margin-top: 20px;
}

/* Media Queries untuk Desain Responsif */
@media (max-width: 600px) {
    h1 {
        font-size: 1.2em;
    }

    .hari-nav button {
        font-size: 0.9em;
        padding:   8px;
        flex:      0 0 calc(100% / 4);
    }

    .jadwal-item {
        & h3 { font-size: 1em;   }
        & p  { font-size: 0.8em; }
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    h1 {
        font-size: 1.4em;
    }

    .hari-nav {
        justify-content: space-between;

        & button {
            font-size: 1em;
            padding:   10px;
            margin:    5px;
        }
    }

    .jadwal-item {
        & h3 { font-size: 1.1em; }
        & p  { font-size: 0.9em; }
    }
}

@media (min-width: 1025px) {
    .hari-nav {
        justify-content: center;
    }

    .hari-nav button {
        margin: 0 10px;
    }

    .jadwal-container {
        max-width: 800px;
        margin:    0 auto;
    }
}
